.mover {
  motion-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
  offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
  motion-rotation: reverse;
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
}

@-webkit-keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
.mover {
  width: 71px;
  height: 54px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/pointer-hand.svg) no-repeat;
  position: absolute;
  left: 30%;
  top: 100px;
}